################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Timesheet-Project/.vs/Timesheet-Project/FileContentIndex/e2d18e9a-7a55-4419-a90c-2f08519ee80c.vsidx
/Timesheet-Project/.vs/Timesheet-Project/FileContentIndex/bb8c3133-f1f1-4128-8426-a86116e2a30f.vsidx
/Timesheet-Project/.vs/Timesheet-Project/FileContentIndex/ad21ebba-71dc-4091-8bdc-941d70300d96.vsidx
/Timesheet-Project/.vs/Timesheet-Project/FileContentIndex/5a0afe79-b88b-41bd-993d-4d170d765533.vsidx
