<div class="container">
    <div><br><br></div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Name input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form4Example1">Project Code</label>
          <input type="text" id="form4Example1" class="form-control" formControlName="code" placeholder="Project Code" [ngClass]="{ 'is-invalid': submitted && f['code'].errors }" />
          <div *ngIf="submitted && f['code'].errors" class="invalid-feedback">
            <div *ngIf="f['code'].errors && f['code'].errors['required']">Project Code is required.</div>
        </div>
        </div>
      
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form4Example2">Project Name</label>
          <input type="text" id="form4Example2" class="form-control" formControlName="name" placeholder="Project Name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"/>
          <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors && f['name'].errors['required']">Project Name is required.</div>
        </div>
        </div>
      
        <!-- Message input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form4Example3">Project Description</label>
          <textarea class="form-control" id="form4Example3" rows="4" formControlName="description" placeholder="Project Description" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"></textarea>
          <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
            <div *ngIf="f['description'].errors && f['description'].errors['required']">Project Description is required.</div>
        </div>
          
        </div>
        <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form4Example2">Start Date</label>
                <input type="date" id="form3Example1" class="form-control" formControlName="startDate" value="{{ proDetails.startDate | date:'yyyy-MM-dd' }}" placeholder="Start Date" [ngClass]="{ 'is-invalid': submitted && f['startDate'].errors }"/>
                <div *ngIf="submitted && f['startDate'].errors" class="invalid-feedback">
                    <div *ngIf="f['startDate'].errors && f['startDate'].errors['required']">Start Date is required.</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form4Example2">End Date</label>
                <input type="date" id="form3Example2" class="form-control" formControlName="endDate" placeholder="End Date" value="{{ proDetails.endDate | date:'yyyy-MM-dd' }}" [ngClass]="{ 'is-invalid': submitted && f['endDate'].errors }"/>
                <div *ngIf="submitted && f['endDate'].errors" class="invalid-feedback">
                    <div *ngIf="f['endDate'].errors && f['endDate'].errors['required']">End Date is required.</div>
                </div>
              </div>
            </div>
          </div>
          <small *ngIf="form.hasError('notValid')" style="color: red;">Not valid</small>
        <!-- Submit button -->
        <button type="submit"class="btn btn-primary">Save </button> 
        <a routerLink="/projectlist" class="btn btn-link">Cancel</a>
      </form>
</div>
