<div class="Container">
    <h4>Timesheet Form</h4>

    <br/>
    <div>
        <p><span>Current Project : </span>
       <b> {{ProjectName}}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <span>Week :</span>

        <!-- <a href="#" class="previous">&laquo; Previous</a>
<a href="#" class="next">Next &raquo;</a> -->
        <button (click)="pre(weekDays[0])" class="previous">&laquo; Previous</button>
        <button (click)="next(weekDays[6])" class="next">Next &raquo;</button></p>
    </div>
</div>

<style>
.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
  
}

button{
  text-decoration: none;
  display: inline-block;
  padding: 4px 8px;
}

button:hover {
  background-color: #ddd;
  color: black;
}


</style>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tasks</th>
            <th>Work Place</th>
            <th>Reason</th>
            <th *ngFor="let item of weekDays">{{item}}</th>
         <tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" (keyup)="getProjectIds($event)" id="projectIds" list="dynmicUserIds" />
                <datalist id="dynmicUserIds">
                   <option *ngFor="let item of projectList" [value]="item">{{item}}</option>
                </datalist>
            </td>
            <td>
                <select class="form-control">
                    <option>Choose a workplace</option>
                    <option *ngFor="let wor of workplaceData; let i = index" [value]="wor.id">
                      {{wor.name}}
                    </option>
                  </select>
            </td>
            <td>
                <select class="form-control" >
                    <option>Choose a reason</option>
                    <option *ngFor="let res of reasonData; let i = index" [value]="res.id">
                      {{res.name}}
                    </option>
                  </select>
            </td>
            <td>
                <input type="text" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 50%;">
            </td>
            <td>
                <input type="text" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 50%;">
            </td>
            <td>
                <input type="text" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 50%;">
            </td>
            <td>
                <input type="text" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 50%;">
            </td>
            <td>
                <input type="text" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 50%;">
            </td>
            <td>
                <input type="text" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 50%;">
            </td>
            <td>
                <input type="text" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 50%;">
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="number" class="form-control"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>